/* Old CSS sheet */

body {
    font-family: arial;
    font-size: 12px;
    color: #333;
}

h2 {
    margin: 0;
    text-decoration:underline;
}

.dropZone {
    border: 10px dashed #ccc; 
    width: 500px; height: 400px; 
    margin: 10px; 
    color: #ccc; 
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}
.hover {
    border: 10px dashed #666;
    color: #666;
}

.jcrop-holder {
    margin:0 auto;
}

#formFile {margin: 10px}

.file_button_container,
.file_button_container input {
    height: 47px;
    width: 500px;
    border: 10px solid #ccc;
    cursor: pointer;
}

.file_button_container {
    background: transparent url(../img/uploadbutton.png) left top no-repeat;
}

.file_button_container input {
    opacity: 0; width: 500px; height: 47px;
}

#col1, #col2 {float: left}
#clr {clear: both}

#col2 {
    margin: 10px;
    border: 10px solid #ccc;
    background: #ccc;
    height: 480px;
    width: 200px;
}

.legend {
    width: 200px; 
    text-align: center; 
    color: #777;
}

#html5options, #nohtml5options {display:none}

.preview {
    width: 200px;
    height: 150px;
    overflow: hidden;
    border: 1px solid #666;
    background: white;
}

